/*? telas grandes*/
@media screen and (min-width: 2300px){
    .boxName{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2em;
    }
    #titlePerfil{
        font-size: 5em;
    }
    
    .boxName #fotoPerfil{
        background-color: black;
        border-radius: 100%;
        height: 250px;
        width: 250px;
    }
    .edit{
        cursor: pointer;
        height: 20px;
        width: 20px;
    }
    #nome{
        display: flex;
        justify-content: center;
        color: white;
        background-color: black;
        height: 100%;
        min-height: 30px;
        min-width: 200px;
    }
    .boxGenero{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 300px;
    }
    #titleGen, #titleLivro{
        margin-bottom: 2.5rem;
        font-size: 2.5em;
    }
    .boxGenero span, .boxMeulivro span{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    
    }
    .favGen{
        height: 100%;
        width: 100%;  
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }
    .boxGen{
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #78adb8;
        border-radius: 50px;
        height: 30px;
        width: 135px;
        
    }
    .boxMeulivro{
        gap: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 600px;
        width: 100%;
    
    }
    .livros{
        background-color: rgb(13, 22, 22);
        height: 200px;
        width: 250px;
    }
}
/*? pcs*/
@media screen and (min-width: 1280px){
.boxName{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}
#titlePerfil{
    font-size: 5em;
}

.boxName #fotoPerfil{
    cursor: pointer;
    background-color: black;
    background-image: url('../../../imgs/perfiledit.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    height: 250px;
    width: 250px;
}
.edit{
    cursor: pointer;
    height: 20px;
    width: 20px;
}
#nome{
    display: flex;
    justify-content: center;
    color: white;
    background-color: black;
    height: 100%;
    min-height: 20px;
    min-width: 200px;
}
.boxGenero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
}
#titleGen, #titleLivro{
    margin-bottom: 2.5rem;
    font-size: 2.5em;
}
.boxGenero span, .boxMeulivro span{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

}
.favGen{
    height: 100%;
    width: 100%;  
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}
.boxGen{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #78adb8;
    border-radius: 50px;
    height: 30px;
    width: 135px;
    
}
.boxMeulivro{
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 100%;

}
.livros{
    background-color: rgb(13, 22, 22);
    height: 200px;
    width: 250px;
}
}

/*? notebooks*/
@media screen and (min-width: 1024px) and (max-width: 1279px){
    .boxName{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2em;
    }
    #titlePerfil{
        font-size: 5em;
    }
    
    .boxName #fotoPerfil{
        background-color: black;
        border-radius: 100%;
        height: 250px;
        width: 250px;
    }
    .edit{
        cursor: pointer;
        height: 20px;
        width: 20px;
    }
    #nome{
        display: flex;
        justify-content: center;
        color: white;
        background-color: black;
        height: 100%;
        min-height: 20px;
        min-width: 200px;
    }
    .boxGenero{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 300px;
    }
    #titleGen, #titleLivro{
        margin-bottom: 2.5rem;
        font-size: 2.5em;
    }
    .boxGenero span, .boxMeulivro span{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    
    }
    .favGen{
        height: 100%;
        width: 100%;  
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }
    .boxGen{
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #78adb8;
        border-radius: 50px;
        height: 30px;
        width: 135px;
        
    }
    .boxMeulivro{
        gap: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 600px;
        width: 100%;
    
    }
    .livros{
        background-color: rgb(13, 22, 22);
        height: 200px;
        width: 250px;
    }
}

/*? telas tablet*/
@media screen and (min-width: 768px) and (max-width: 1023px){
    .perfilpagep{
        padding-bottom: 11.5vh;
    }
    .boxName{
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2em;
    }
    #titlePerfil{
        font-size: 5em;
    }
    
    .boxName #fotoPerfil{
        background-color: black;
        border-radius: 100%;
        height: 250px;
        width: 250px;
    }
    .edit{
        height: 20px;
        width: 20px;
    }
    #nome{
        display: flex;
        justify-content: center;
        color: white;
        background-color: black;
        height: 20px;
        min-height: 20px;
        min-width: 200px;
    }
    .boxGenero{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 300px;
    }
    #titleGen, #titleLivro{
        margin-bottom: 2.5rem;
        font-size: 2.5em;
    }
    .boxGenero span, .boxMeulivro span{
        display: flex;
        flex-direction: row;
        gap: 1rem;
    
    }
    .favGen{
        height: 100%;
        width: 100%;  
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }
    .boxGen{
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #78adb8;
        border-radius: 50px;
        height: 45px;
        width: 200px;
        
    }
    .boxMeulivro{
        gap: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 600px;
        width: 100%;
    
    }
    .livros{
        background-color: rgb(13, 22, 22);
        height: 200px;
        width: 250px;
    }
}

/*? telas mobile hotizontal*/
@media screen and ((max-height: 767px) and (max-width: 999px)){
    .perfilpagep{
        padding-bottom: 11vh;
    }
    .boxName{
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2em;
    }
    #titlePerfil{
        font-size: 3.5em;
    }
    
    .boxName #fotoPerfil{
        background-color: black;
        border-radius: 100%;
        height: 250px;
        width: 250px;
    }
    .edit{
        height: 20px;
        width: 20px;
    }
    #nome{
        display: flex;
        justify-content: center;
        color: white;
        background-color: black;
        height: 20px;
        min-height: 20px;
        min-width: 200px;
    }
    .boxGenero{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 400px;
    }
    #titleGen, #titleLivro{
        margin-bottom: 2.5rem;
        font-size: 2.5em;
    }
    .boxGenero span, .boxMeulivro span{
        display: flex;
        flex-direction: row;
        gap: 1rem;
    
    }
    .favGen{
        height: 100%;
        width: 100%;  
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
}
    .boxGen{
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #78adb8;
        border-radius: 50px;
        height: 50px;
        min-width: 30px;
        
    }
    .boxMeulivro{
        margin-top: 50px;
        gap: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 600px;
        width: 100%;
    
    }
    .livros{
        background-color: rgb(13, 22, 22);
        height: 200px;
        width: 200px;
    }
}

/*? telas mobile*/
@media screen and (max-width: 767px){
    .perfilpagep{
        padding-bottom: 11vh;
    }
    .boxName{
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2em;
    }
    #titlePerfil{
        font-size: 3.5em;
    }
    
    .boxName #fotoPerfil{
        background-color: black;
        border-radius: 100%;
        height: 250px;
        width: 250px;
    }
    .edit{
        height: 20px;
        width: 20px;
    }
    #nome{
        display: flex;
        justify-content: center;
        color: white;
        background-color: black;
        height: 20px;
        min-height: 20px;
        min-width: 200px;
    }
    .boxGenero{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 300px;
    }
    #titleGen, #titleLivro{
        margin-bottom: 2.5rem;
        font-size: 2.5em;
    }
    .boxGenero span, .boxMeulivro span{
        display: flex;
        flex-direction: row;
        gap: 1rem;
    
    }
    .favGen{
        height: 100%;
        width: 100%;  
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
}
    .boxGen{
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #78adb8;
        border-radius: 50px;
        height: calc(85px - 5vh);
        min-width: calc(100px + 5vw);
        
    }
    .boxMeulivro{
        margin-top: 100px;
        gap: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 600px;
        width: 100%;
    
    }
    .livros{
        background-color: rgb(13, 22, 22);
        height: calc(35vw + 20px);
        width: calc(35vw + 20px);
    }
}