.boxAttBook{
    height: 100vh;
    width: 100vw;
    display: block;

}
.tela{
    height: 69.3%;
    display: flex;
    flex-direction: row;
}
.infosDoLivro{
    background-color: #BACFD1;
    color: white;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: start;
}
.infosDoLivro .boxIMG{
    height: 100%;
    width: 9%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.infosDoLivro .boxIMG IMG{
    height: 90%;
    width: 80%;
    border-radius: 10px;

}
.infos-text{
    height: 100%;
    width: 25%;
    display: block;
}
.infosDoLivro .boxNAME{
    padding: 5px;
    height: 20%;
    width: 100%;
}
.infosDoLivro .boxNAME p{
    font-weight: bolder;
    font-size: 2em;
}
.infosDoLivro .boxGEN{
    display: flex;
    align-items: center;
    height: 80%;
    width: 100%;
    gap: 15px;
}
.boxGEN .gender{
    cursor: initial;
    background-color: #3392a6;
    color: white;
    height: 20%;
    min-width: 25%;
}
.boxGEN .gender:hover{
    background-color: #3392a6;
}