.cardPubli {
    background-color: palevioletred;
    display: block;
    height: 300px;
    width: 900px;
}

.textPubli {
    background-color: #8b008b;
    max-height: 300px;
    min-height: 300px;
    overflow: hidden;
    overflow-y: auto;
}

#textoPubli {
    max-width: 650px;
    min-width: 650px;
    min-height: 300px;
    padding-left: 20px;
    font-size: 2em;
    background-color: darkolivegreen;
}

.btPubli {
    background-color: darkslategray;
    height: 40px;
    gap: 5px;
    padding-left: 250px;
}

.campoImgPubli {
    max-width: 250px;
    width: 250px;
    max-height: 340px;
    height: 340px;
    margin-bottom: -40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#Publicar{
    position: absolute;
    cursor: pointer;
    font-size: 2em;
    font-weight: bold;
    color: gray;
    bottom: 60px;
    right: 50px;
}

.campoImgPubli #capaSelect{
    height: 90%;
    width: 90%;
    background-color: blue;
    border-radius: 10px;
}

.caixaEnM{
    height: 250px;
    width: 100%;
    background-color: chartreuse;
    display: block;
}

.caixaEnquete{
    background-color: darkviolet;
    height: 200px;
    display: grid;
    padding-top: 7%;
    padding-left: 12%;
    grid-template-columns: repeat(2, minmax(80px, 2fr));
    grid-template-rows: repeat(2, minmax(80px, 2fr));
}

.enqueteB{
    background-color: dodgerblue;
    max-height: 40px;
    height: 40px;
    max-width: 200px;
    width: 200px;
    align-items: center;
    padding-left: 10px;
}

#quest{
    background-color: lightpink;
    height: 40px;
    align-items: center;
    justify-content: center;
}