.TelaBusca{
    width: 100%;
    height: 100%;
    display: block;
}

.TelaBusca #titlePerfil{
    left: 40%;
    margin-bottom: -100px;
    width: 300px;
}
.TelaBusca .boxLivros #searchText{
    width: 74%;
}
.TelaBusca .searchUSER{

    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.TelaBusca .pessoasBOX{
    width: 100%;
    height: 100%;
    display: block;
    margin-top: 30px;
    padding-bottom: 50px;
}

.BoxCardPessoas{
    height: 110px;
    display: flex;
    justify-content: center;
}

.TelaBusca .pessoasBOX .Link{
    text-decoration: none;
}

.cardPessoa{
    padding-top: 10px;
    height: 100%;
    width: 80%;
    border-bottom: solid 1px rgba(0, 0, 0, 0.300);
}

.cardPessoa #perfilPessoa{
    width: 9%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardPessoa #perfilPessoa img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.cardPessoa .infosPessoa{
    height: 100%;
    width: 100%;
}

.cardPessoa .infosPessoa .nomePessoa{
    height: 30%;
    align-items: center;
    font-weight: 2em;
    font-size: 1.3em;
    color: black;
}

.cardPessoa .infosPessoa .nomePessoa{
    height: 40%;
    align-items: center;
}

.cardPessoa .infosPessoa .catPessoa{
    height: 60%;
}

.cardPessoa .infosPessoa .catPessoa .categoria{
    height: 100%;
    width: 20%;
}

.cardPessoa .infosPessoa .catPessoa .opSeguir{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: start;
    color: #0A6E7D;
}