.TelaLivros {
    height: 100%;
    width: 100%;
    display: block;
}

.TelaLivros #titlePerfil{
    left: 40%;
    margin-bottom: -100px;
    width: 300px;
}

.TelaLivros #pesquisa {
    width: 100%;
}

.boxLivros {
    margin-top: 3%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

#searchImg {
    height: 60%;
    width: 80px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: #EBECF0;
    cursor: pointer;
    background-image: url('../../../imgs/lupa.png');
    background-size: 55% 55%;
    background-repeat: no-repeat;
    background-position: 50%;
    box-shadow: 0px 0px 10px 0px #BACFD2;

}

.boxLivros #searchText {
    box-shadow: 0px 0px 10px 0px #BACFD2;
    height: 60%;
    width: 80%;
    padding-left: 1em;
    background-color: #EBECF0;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    font-weight: bold;
}

.filtros {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.filtros #title {
    padding-left: 10px;
    display: flex;
    align-items: center;
    font-size: 1.5em;
    height: 50px;
    width: 84%;
}

.filtros #title p {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: .8em;
    font-weight: bold;
    cursor: pointer;
}

.BOXS {
    height: 250px;
    min-width: 84%;
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    animation: openFil .1s linear;
}

.BOXS.fecha {
    height: 0;
    overflow: hidden;
    animation: closeFil .1s linear;
}

.BOXS .boxSelection {
    box-shadow: 0px 0px 10px 0px #BACFD2;
    background-color: #EBECF0;
    height: 90%;
    width: 33%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.BOXS .boxSelection.Gener #selecao {
    background-color: #CFFBFF;
    position: relative;
    height: 30px;
    width: 300px;
    margin-bottom: 5px;
    font-size: 1.1em;
}

.BOXS .boxSelection.Gener .boxGend {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: inherit;
    width: 300px;
}

.BOXS .boxSelection.Gener .boxGend .Genero {
    margin-top: 16%;
    height: 40px;
    width: 250px;
    font-size: 1.2em;
    position: relative;
    bottom: 23px;
    animation: none;
}

.BOXS .boxSelection .indi {
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 300px;
    background-color: #CFFBFF;
    box-shadow: 0px 0px 15px 0px #087f9757;
    border-radius: 30px;
}


.BOXS .boxSelection.inter {
    background-color: white;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 25%;
    gap: 20px;
}

.BOXS .boxSelection.inter center {
    box-shadow: 0px 0px 10px 0px #BACFD2;
    border-radius: 25px;
    background-color: #EBECF0;
    justify-content: center;
    height: 30%;
    width: 100%;
}

.BOXS .boxSelection.inter center h1 {
    position: inherit;
    font-size: 1em;
    width: 10px;

}

.buscaLivros {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: inherit;

}

.boxSelection .opsClass {
    position: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 40%;
    width: 100%;
    overflow: hidden;
}

.boxSelection .opsClass .imgC {
    cursor: pointer;
    height: 40px;
    width: 43px;
    border-radius: 7px;

    animation: abrir .4s ease-in reverse;
}

.boxSelection .opsClass .caixaDeClass {
    border-radius: 7px;
    background-color: green;
    height: 40px;
    width: 43px;
    border: solid black 1px;
}

.boxSelection .opsClass .caixaDeClass #imagemClass {
    height: 100%;
    width: 100%;
    border-radius: 7px;
}

#imagemClass:hover {
    box-shadow: 0px 0px 20px 0px rgba(255, 0, 0, 0.774);
}

#notFound {
    position: relative;
    bottom: 200px;
    font-size: 5em;
    color: #BACFD1;
}


@keyframes openFil {
    0% {
        height: 0;
    }

    100% {
        height: 250px;
    }
}

@keyframes closeFil {
    0% {
        height: 250px;
    }

    100% {
        height: 0;
    }
}