.CardLivro {
    height: calc(100% - 40px);
    width: calc(100% - 40px);
    padding: 20px;
    display: flex;
    box-shadow: 0px 0px 20px 0px #13505c80;
    border-radius: 10px;
}

.CardLivro .IMGbox {
    height: 100%;
    width: 40%;
}

.CardLivro .IMGbox #capa {
    position: relative;
    bottom: 28px;
    z-index: 1;
    height: 100%;
    width: 100%;
}

.CardLivro .IMGbox .IMGbox_Classifica {
    position: relative;
    z-index: 2;
    height: 10%;
    width: 100%;
}

.CardLivro .IMGbox .IMGbox_Classifica #classifica {
    background-color: green;
    height: 100%;
    width: 15%;
}

.CardLivro .infos {
    background-color: blueviolet;
    height: 100%;
    width: 60%;
}

.CardLivro .infos #nomeLivro {
    background-color: bisque;
    height: 15%;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
    font-weight: bold;
    color: #087F97;
}

.CardLivro .infos #VisuLivro {
    background-color: chartreuse;
    height: 13%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.CardLivro .infos #VisuLivro .BoxVisu {
    background-color: blue;
    height: 100%;
    width: 25%;
    border-radius: 30px;
    display: flex;
}

.BoxVisu span {
    height: 100%;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.BoxVisu span:last-child{
    position: relative;
    bottom: 3px;
}

.BoxVisu span img {
    height: 20px;
    width: 20px;
}

.CardLivro .infos #Box_text {
    height: calc(60% - 20px);
    width: calc(100% - 20px);;
    padding: 10px;
    background-color: aquamarine;
}

.CardLivro .infos #BTs{
    height: 12%;
    background-color: chocolate;
}