.CardLivro {
    height: calc(100% - 10px);
    max-width: 200px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 20px 0px #13505c80;
    background-color: #f5f5f5;
    overflow: hidden;
    transition: max-width 1s ease;
}

.CardLivro.abre{
    max-width: 500px;
    padding-right: 30px;
}

.CardLivro .IMGbox {
    height: 100%;
    min-width: 200px;
    max-width: 200px;
    margin-right: 20px;
}

.CardLivro .IMGbox #capa {
    position: relative;
    bottom: 35px;
    z-index: 1;
    height: 100%;
    width: 100%;
}

.CardLivro .IMGbox .IMGbox_Classifica {
    position: relative;
    bottom: 5px;
    right: 5px;
    z-index: 2;
    height: 13%;
    width: 100%;
}

.CardLivro .IMGbox .IMGbox_Classifica #classifica {
    height: 100%;
    width: 20%;
    border-radius: 5px;
}

.CardLivro .infos {
    position: relative;
    height: 100%;
    min-width: 300px;
}

.CardLivro .infos #nomeLivro {
    height: 15%;
    align-items: center;
    justify-content: center;
    font-size: 1.3em;
    font-weight: bold;
    color: #087F97;
}

.CardLivro .infos #VisuLivro {
    height: 13%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.CardLivro .infos #VisuLivro .BoxVisu {
    height: 100%;
    width: 25%;
    border-radius: 30px;
    display: flex;
}
.BoxVisu.visu{
    background-color: #087F97;
}
.BoxVisu.fav{
    background-color: #FFBD59;
}
.BoxVisu.curti{
    background-color: #FF7070;
}
.BoxVisu span {
    height: 100%;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.BoxVisu span:last-child{
    position: relative;
    bottom: 3px;
}

.BoxVisu span img {
    height: 20px;
    width: 20px;
}

.CardLivro .infos #Box_text {
    max-height: calc(60% - 20px);
    min-height: calc(60% - 20px);
    width: 100%;
    padding: 10px;
    overflow: auto;
    word-wrap: break-word;
}

.CardLivro .infos #BTs{
    align-items: center;
    justify-content: space-evenly;
    height: 12%;
}

#BTs .link{
    display: inherit;
    text-decoration: none;
}
#BTs .link .bt{
    cursor: pointer;
    font-size: 0.9em;
    color: white;
    font-weight: lighter;
    background-color: #087F97;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    height: 100%;
    width: 100%;
}