.btFloat{
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 100%;
    background-image: url("../../../imgs/casa.png");
    background-size: cover;
    background-position: center;
    z-index: 80;
    height: 80px;
    width: 80px;
    background-color: white;
}