#abaDeCap{
    height: calc(1000px - 30px);
    width: 200px;
    position: absolute;
    z-index: 0;
    left: 13%;
    top: 250px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 5px;
}

#abaDeCap .abaT{
    background-color: white;
    border: solid black 1px;
    height: 70px;
    width: 100px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: -5px;
    white-space: nowrap;
    overflow: hidden;

    transition: right .3s linear;
}

#abaDeCap .abaT.cap{
    right: -100px ;
}

#abaDeCap .abaT.abre{
    right: 50px;
}