@media screen and (min-width: 1199px){
.mensagem{
    background-color: #98BEC1;
    height: 600px;
    width: 50%;
    margin-top: 50px;
    margin-left: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border-radius: 6px;
}
.mensagem .perfilMsg{
    background-color: #5CA5B2;
    height: 120px;
    align-items: center;
    border-radius: 6px;
}
.renderMsg{
    height: 100%;
    width: 100%;
    overflow-y: scroll;

}

.mensagem .perfilMsg img{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-left: 20px;
}

.mensagem .perfilMsg p{
    font-size: 1.5em;
    margin-left: 20px;
    color: white;
    font-weight: bold;
}
.caixaEnviar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 120px;
}
.caixaEnviar form{
    background-color: #022F39;
    padding-left: 10px;
    padding-right: 0;
    padding: 5px;
    width: 90%;
    height: 50%;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.caixaEnviar form .inputEnvio{
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 40px;
    width: 90%;
    color: black;
    background-color: white;
    overflow-y: scroll;
}
.caixaEnviar button{    
    background: none;
    position: relative;
    margin-left: 5px;
    top: 3px;
    cursor: pointer;
}
.caixaEnviar form img{
    height: 30px;
    width: 30px;
}
.caixaEnviar form input{
    color: white;
    background: none;
}
}