/*? pcs*/
@media screen and (min-width: 1280px){
.render{
    display: block;
    height: 100%;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
}
/*? notebooks*/
@media screen and (min-width: 1024px) and (max-width: 1279px){
    .render{
        display: block;
        height: 100%;
        width: 100vw;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
}

/*? telas deitadas cell e tablet*/
@media screen and (min-width: 768px) and (max-width: 1023px) and (orientation: landscape){
    .render{
        display: block;
        height: 100%;
        width: 100vw;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
}
/*? telas tablet*/
@media screen and (min-width: 768px) and (max-width: 1023px){
    .render{
        display: block;
        height: 100%;
        width: 100vw;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
}
/*? telas mobile hotizontal*/
@media screen and ((max-height: 767px) and (max-width: 999px)){
    .render{
        display: block;
        height: 100%;
        width: 100vw;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
}

/*? telas mobile*/
@media screen and (min-width: 360px) and (max-width: 767px){
    .render{
        display: block;
        height: 100%;
        width: 100vw;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
}