#box {
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #60ddee;
    justify-content: center;
}

#fundo {
    display: flex;
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    animation: formularis 3.5s;
    background: linear-gradient(0, #60ddee 0, #65d1e4 25%, #65bed1 50%, #64acbe 75%, #6dadc0 100%);
}

#logo {
    display: inherit;
    position: relative;
    animation: subir 1.5s;
}

.form {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}

.box_form {
    position: relative;
    animation: subir 1.5s, formularis 3s;
}

.form_email::placeholder,
.form_pass::placeholder {
    color: #66BFD1;
}

.form_pass,
.form_email {
    border-radius: 25px;
    border: none;
    padding: 0;
    padding-left: 1em;
    margin: 0;
}

.form_button {
    cursor: pointer;
    border-radius: 15px;
    height: 50px;
    width: 150px;
    margin-top: 2%;
    background-color: blue;
    color: white;
}

#cadastro {
    position: relative;
    top: 8.5%;
}

#content_cad {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media (orientation: landscape) {

    /* Estilos para dispositivos em modo paisagem */
    #logo {
        display: none;
    }

    .box_form {
        height: 100%;
        width: 100%;
        top: -65%;
    }

    .form {
        top: 10%;
        width: 60%;
        gap: 1rem;
        width: 80%;
    }

    .form_pass,
    .form_email {
        height: 50px;
        width: 50%;
    }

    .form_button {
        margin-top: 2%;
        margin-bottom: 3%;
    }

    #cadastro {
        cursor: pointer;
    }
}

@media (orientation: portrait) {

    /* Estilos para dispositivos em modo retrato */
    #logo {
        display: flex;
    }

    .box_form {
        height: 100%;
        width: 100%;
        bottom: 35%;
    }

    .form {
        top: 10%;
        gap: 1rem;
        width: 80%;
    }

    .form_pass,
    .form_email {
        height: 50px;
        width: 50%;
    }

    .form_button {
        margin-top: 2%;
        margin-bottom: 3%;
    }

    #cadastro {
        top: 8.5%;
        cursor: pointer;
    }
}

@media (min-width: 1201px) {

    /* Estilos para dispositivos desktop (telas maiores) */
    #logo {
        display: flex;
        left: 3.5%;
        top: 22%;
        height: 50%;
        width: 90%;
    }

    .box_form {
        top: -13%;
        height: 100%;
        width: 100%;
    }

    .form {
        width: 100%;
        gap: 1.5rem;
    }

    .form_pass,
    .form_email {
        height: calc(2vh + 40px);
        width: 30%;

    }

    .form_button {
        margin-top: 2%;
        margin-bottom: 3%;
    }

    #cadastro {
        cursor: pointer;
    }
}

@media (min-width: 993px) and (max-width: 1200px) {
    /* Estilos para tablets maiores e dispositivos em modo paisagem */
    #logo {
        top: 10%;
        width: 80%;
        height: 70%;
        left: 6%;
    }

    .box_form {
        height: 100%;
        width: 100%;

    }

    .form {
        gap: 80px;
        width: 80%;
        top: 80%;

    }

    .form_pass,
    .form_email {
        height: 80px;
        width: 85%;

    }


    .form_button {
        margin-top: 5%;
    }

    #cadastro {
        position: relative;
        top: 40%;
    }

    #content_cad {
        height: 100%;
        width: 100%;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    /* Estilos para tablets e dispositivos em modo paisagem */
    #logo {
        top: 10%;
        width: 80%;
        height: 70%;
        left: 6%;
    }

    .box_form {
        height: 100%;
        width: 100%;

    }

    .form {
        gap: 50px;
        top: 60%;
        height: 100%;
    }

    .form_pass,
    .form_email {
        height: 70px;
        width: 85%;

    }



    .form_button {
        margin-top: 5%;
    }

    #cadastro {
        position: relative;
        top: 30%;
    }

    #content_cad {
        height: 100%;
        width: 100%;
    }

}

@media (min-width: 568px) and (max-width: 768px) {

    /* Estilos para dispositivos com largura entre 577px e 768px (ex: smartphones em modo paisagem e tablets) */
    #logo {
        top: 8%;
        width: 70%;
        height: 70%;
        left: 6%;
    }

    .box_form {
        top: -13%;
        height: 100%;
        width: 100%;
    }

    .form {
        gap: 30px;
        width: 80%;
    }

    .form_pass,
    .form_email {
        height: 80px;
        width: 85%;

    }

    .form_button {
        margin-bottom: 20%;
        cursor: pointer;
        border-radius: 15px;
        height: 70px;
        width: calc(10vh + 40px);
        margin-top: 5%;
    }

    #content_cad {
        height: 90%;
        width: 100%;
    }
}

@media (max-width: 567px) {

    /* Estilos para dispositivos com largura máxima de 576px (ex: smartphones em modo retrato) */
    #logo {
        top: 10%;
        width: 90%;
        height: 60%;
        left: 6%;
    }

    .box_form {
        top: -13%;
        height: 100%;
        width: 100%;
    }

    .form {
        gap: 40px;
        width: 100%;

    }

    .form_pass,
    .form_email {
        height: 50px;
        width: 85%;

    }

    .form_button {
        margin-bottom: 20%;
        cursor: pointer;
        border-radius: 15px;
        height: calc(3vh + 20px);
        width: calc(10vh + 40px);
        margin-top: 5%;
    }

    #content_cad {
        height: 100%;
        width: 100%;
    }
}

@keyframes subir {
    0% {
        transform: translateY(300%);
    }


    80% {
        transform: translateY(-20%)
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes formularis {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 2;
    }
}
