.paginaLer {
    min-height: calc(1000px - 60px);
    width: calc(55% - 30px);
    margin-top: 200px;
    padding: 30px;
    display: block;
    z-index: 2;
}

.paginaLer .tituloLer {
    height: 70px;
    align-items: center;
    margin-bottom: 50px;
    justify-content: center;
    font-weight: bold;
    font-size: 2.2em;
    overflow: hidden;
}

.paginaLer .contentPagina {
    width: 100%;
    word-break: break-all;
}

.paginaLer .interval{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 7em;
    margin-bottom: 100px;
}