#boxComent{
    width: 100%;
    display: block;
}
#boxComent .campoComent{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

#boxComent .campoComent input{
    background-color: #EBECF0;
    padding-left: 20px;
    padding-right: 70px;
    height: 90%;
    min-width: calc(100% - 20px);
    position: relative;
    left: 30px;
    border-radius: 30px;
}
#enviaCom{
    height: 35px;
    width: 60px;
    position: relative;
    right: 30px;
    cursor:pointer;
}

#boxComent .comentarios{
    display: block;
    margin-top: 10px;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    width: calc(100% - 20px);
}
.comentarios .comentaP{
    padding-top: 10px;
    border-top: solid #EBECF0 2px;
    display: block;
    margin-bottom: 10px;
    height: 100%;
}
.comentarios .replyBOX{
    display: none;
    height: 0;
    margin-left: 5%;

    transition: all 1s ease;
}

.comentarios .replyBOX.aparece{
    display: block;
    height: 100%;
}

.seeReply{
    cursor: pointer;
    position: relative;
    font-size: 1.5em;
    margin-bottom: -1em;
    left: 57.2%;
}
.comentarios .interval{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 7em;
    margin-bottom: 100px;
}