#boxComent{
    background-color: rgb(77, 190, 190);
    width: 100%;
    display: block;
    gap: 20px;
}
#boxComent .campoComent{
    background-color: blue;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#boxComent .campoComent input{
    padding-left: 20px;
    height: 90%;
    width: calc(100% - 20px);
    border-radius: 30px;
    background-color: rgb(72, 255, 0);
}

#boxComent .comentarios{
    display: block;
    margin-top: 10px;
    background-color: antiquewhite;
    padding-left: 10px;
    padding-right: 10px;
    width: calc(100% - 20px);
    height: 80px;
}
