.PageLer {
    width: 100vw;
    height: 100%;
}

.PageLer header {
    background-color: white;
    position: fixed;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    z-index: 10;
}

.PageLer header #logoP {
    height: 200px;
    width: 200px;
    position: relative;
    right: 40px;
    bottom: 12px;
}

.PageLer #CurtiL {
    height: 100%;
    width: 300px;
    position: relative;
    right: 70px;
    display: block;
}

#CurtiL .tituloBox {
    height: 70%;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
    white-space: nowrap;
}

#CurtiL #BOXCURTI {
    height: 30%;
    width: 100%;
    align-items: center;
    gap: 20px;
}

#BOXCURTI .BoxVisu {
    height: 100%;
    width: 40%;
    display: flex;
    display: flex;
    background-color: white;
    align-items: start;

}

#BOXCURTI .BoxVisu span {
    cursor: pointer;
    background-color: #C4BFB2;
    height: 70%;
    width: 100%;
    border-radius: 20px;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

#BOXCURTI .BoxVisu span img {
    height: 20px;
    width: 35px;
    position: relative;
}

#BOXCURTI .BoxVisu span:last-child{
    position: none;
}
#BOXCURTI .BoxVisu.fav span:hover{
    background-color: #FFBD59;
}
#BOXCURTI .BoxVisu.curti span:hover{
    background-color: #FF7070;
}
.BOXLER {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
}

.PageLer .filtro{
    position: fixed;
    z-index: 10;
    left: 20%;
    top: 130px;
    height: 100px;
    width: 60%;
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 50%);
}

.infosAutor{
    height: 400px;
    width: 200px;
    position: fixed;
    right: 2%;
    top: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.infosAutor #perfil{
    border-radius: 50%;
    height: 120px;
    width: 120px;
    cursor: pointer;
}
.infosAutor p{
    font-weight: bold;
}

.infosAutor .btSeguir{
    height: 20px;
    width: 60px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 20px;
    color: white;
    font-weight: bold;
}