.PageLer {
    max-width: 100vw;
    width: 100vw;
    height: 100%;
}

.PageLer header {
    background-color: white;
    position: fixed;
    width: 100vw;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    z-index: 10;
}

.PageLer header #logoP {
    height: 200px;
    width: 200px;
    position: relative;
    right: 40px;
    bottom: 12px;
}

.PageLer #CurtiL {
    height: 100%;
    width: 300px;
    position: relative;
    right: 70px;
    display: block;
}

#CurtiL .tituloBox {
    height: 70%;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
    white-space: nowrap;
}

#CurtiL #BOXCURTI {
    height: 30%;
    width: 100%;
    align-items: center;
    gap: 20px;
}

#BOXCURTI .BoxVisu {
    height: 100%;
    width: 40%;
    display: flex;
    background-color: white;
    align-items: start;

}

#BOXCURTI .BoxVisu span {
    cursor: pointer;
    background-color: #C4BFB2;
    height: 70%;
    width: 100%;
    border-radius: 20px;
    align-items: center;
    justify-content: start;
    gap: 10px;
}

#BOXCURTI .BoxVisu span img {
    height: 20px;
    width: 35px;
    position: relative;
}

#BOXCURTI .BoxVisu span:last-child {
    position: none;
}



.BOXLER {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
}

.PageLer .filtro {
    position: fixed;
    z-index: 10;
    left: 20%;
    top: 100px;
    height: 100px;
    width: 60%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 50%);
    pointer-events: none;
}

.infosAutor {
    height: 400px;
    width: 200px;
    position: fixed;
    right: 2%;
    top: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.infosAutor #perfil {
    border-radius: 50%;
    height: 120px;
    width: 120px;
    cursor: pointer;
}

.infosAutor p {
    font-weight: bold;
}

.infosAutor .btSeguir {
    height: 20px;
    min-width: 60px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 20px;
    color: white;
    font-weight: bold;
}

.curtiS,
.favS {
    animation: shake 1s ease;
}

.curtiN {
    animation: curtind .8s ease;
}

.favN {
    animation: girar 1.5s ease;
}


@keyframes girar {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes curtind {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.4, 1.2);
    }

    100% {
        transform: scale(1, 1);
    }
}


@media (max-width: 576px) {
    .PageLer .btFloat {
        display: none;
    }

    .infosAutor {
        right: 20vw;

    }

    .infosAutor p {
        display: none;
    }

    #BOXCURTI .BoxVisu span {
        width: 100%;
        justify-content: start;
    }

    .ps{
        display: none;
    }
}

@media (orientation: portrait) {

    /* Estilos para dispositivos com largura máxima de 576px (ex: smartphones em modo retrato) */
    .PageLer header {
        position: absolute;
        padding-bottom: 100px;
    }



    .PageLer header #logoP {
        display: none;
    }

    .PageLer #CurtiL {
        width: 100%;
        right: 0;
    }

    #CurtiL .tituloBox {
        padding-left: 10px;
        text-align: center;
        justify-content: center;
        word-break: break-all;
        width: 100%;
    }

    #BOXCURTI .BoxVisu.fav {
        visibility: visible;
    }

    #CurtiL #BOXCURTI {
        justify-content: center;
        gap: 20px;
    }

    #BOXCURTI .BoxVisu {
        height: 100%;
        width: 40%;
        display: flex;
        background-color: white;
        align-items: center;
        justify-content: center;

    }

    #BOXCURTI .BoxVisu span {
        cursor: pointer;
        background-color: #C4BFB2;
        height: 90%;
        width: 50%;
        border-radius: 20px;
        align-items: center;
        justify-content: start;
        gap: 10px;
    }

    .infosAutor {
        height: 100px;
        width: 200px;
        position: absolute;
        right: 40vw;
        top: 100px;
        flex-direction: row;
        z-index: 200;
    }

    .infosAutor #perfil {
        height: 60px;
        width: 60px;
    }



    .infosAutor .btSeguir {
        height: 20px;
        min-width: 70px;
        font-size: .8em;
    }

    .PageLer .filtro {
        display: none;
    }

}