.boxNewBook{
    display: block;
    height: 100vh;
    width: 100vw;
}
.boxNewBook header{
    height: 100px;
    background: rgb(104,141,237);
background: linear-gradient(75deg, rgba(104,141,237,1) 0%, rgba(137,176,234,1) 25%, rgba(214,225,241,0.5914740896358543) 50%, rgba(148,187,233,1) 75%, rgba(104,141,237,1) 100%);
}
.boxNewBook header #logoH{
    left: 0;
    height: 230px;
    width: 230px;
}
.ConfigBook{
    height: calc(100% - 100px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width: 576px) {

    /* Estilos para dispositivos com largura máxima de 576px (ex: smartphones em modo retrato) */

}