.boxNewBookC {
    height: 100%;
    width: 100%;
}

.formCreateBook {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.capaDoLivro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 35%;
    height: 100%;
}

.capaDoLivro #fileBoxC {
    height: 100%;
    width: 100%;
}

.capaDoLivro .custom-input {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 0;
    cursor: pointer;
    height: 100%;
    width: 100%;
    background-color: #BACFD1;
    background-image: url('../../../imgs/MaisBranco.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 75%;
}

.quad {
    position: absolute;
    z-index: 10;
    left: 30px;
    top: 120px;
    height: 70px;
    width: 70px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: solid black 3px;
    background-color: white;
    border-radius: 10px;
}

.fundo{
    position: fixed;
    height: 100vh;    
    z-index: 1;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.534);
}
.opsClass{
    position: absolute;
    left: 10px;
    top: 200px;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 500px;
    width: 110px;
    overflow: hidden;
}

.opsClass .imgC{
    cursor: pointer;
    height: 70px;
    width: 110px;
    z-index: 1;

    animation: abrir .3s linear reverse;
}

.opsClass .imgC.close{
    animation: fechar .33s linear;
}

.capaDoLivro input[type='file'] {
    display: none;
}

.Infos {
    height: 100%;
    width: 65%;
}

.Infos #Nome {
    height: 15%;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
}

.Infos #Nome .nomeDoLivro {
    display: flex;
    width: 70%;
    height: 50%;
    align-items: center;
}

.Infos #Nome .nomeDoLivro::before {
    content: 'NOME:';
    font-size: 2em;
}

.Infos #Nome .livroNome {
    border-bottom: solid 1px #087F97;
    padding-left: 20px;
    font-size: 2em;
    height: 100%;
    width: 80%;
}

.Infos #Nome .xis {
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
}

.Infos #Nome .xis img {
    height: 40%;
    width: 40%;
}

.GenBoxL {
    display: flex;
    position: relative;
    top: 10%;
    left: 5%;
    height: 70%;
    width: 40%;
}

#contadora {
    position: relative;
    left: 30px;
    top: 10px;
    display: flex;
    height: 3%;
    width: 100%;
}

#contadora p {
    color: #087F97;
    font-size: 1.5em;
    font-weight: bold;
    margin-right: 25%;
}

.caixaInter{
    position: absolute;
    bottom: 100px;
    right: 40px;
    height: 150px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.salvaLivro {
    position: absolute;
    bottom: 20px;
    right: 30px;
}

.salvaLivro button {
    all: unset;
    background-color: none;
    cursor: pointer;
    height: 10%;
    cursor: pointer;
    color: #087F97;
    font-size: 2.5em;
    font-weight: bold;
    margin-right: 10%;
}
.trans{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: 200px;
    width: 200px;
    background-color: #ffffff09;
}
@keyframes abrir {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-500px);
    }
}

@keyframes fechar {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(-500px);
    }
}