@media screen and (min-width: 1199px){
.conversas{
    margin-top: 50px;
    margin-left: 10px;
    height: 600px;
    width: 35%;
    padding-right: 20px;
    overflow-y: auto;
}
.conversas .listaC{
    height: 100%;
    gap: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.conversas::-webkit-scrollbar{
    background-color: #98BEC1;
}
.conversas::-webkit-scrollbar-thumb{
    background-color: black;
    border-radius: 30px;
}}