#comentary{
    width: 100%;
    height: 100%;
    margin-bottom: 5px;
}

#comentary .userComent{
    border-radius: 50%;
    height: 60px;
    width: 60px;
}

#comentary .boxComent{
    width: calc(100% - 120px);
}

#comentary .boxComent .nomeComent{
    font-weight: bold;
    height: 25%;
    width: calc(100% - 7px);
    padding-left: 7px;
}

#comentary .boxComent .coment{
    height: 75%;
    width: calc(100% - 10px);
    padding-left: 10px;
    display: flex;
    align-items: center;
    word-break: break-all;
}

#comentary .btsCurti{
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: center;
    min-height: 100%;
    width: calc(100% - (100% - 120px));
}

#comentary .btsCurti .boxDEimg{
    background-color: #C4BFB2;
    height: 20px;
    width: 40px;
}

#comentary .btsCurti img{
    cursor: pointer;
    height: 100%;
    width: 100%;
}

.reply{
    font-size: .9em;
    cursor: pointer;
}

#infosComent{
    gap: 5px;
    height: 20%;
    width: calc(100% - 65px);
    padding-left: 65px;
    margin-bottom: 20px;
}

#resposta{
    height: 50px;
    width: 90%;
    margin-left: 10%;
    margin-bottom: 20px;
}

#resposta input{
    background-color: #EBECF0;
    padding-left: 20px;
    height: 90%;
    width: calc(100% - 20px);
    border-radius: 30px;
}