#fechar{
    cursor: pointer;
}
.field_cad{
    height: 400px;
    padding: 40px;
    border-radius: 20px;
    background-color: #66BFD1;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    bottom: -25px;
    z-index: 1;
    animation: aparece 1.5s;
}
#infos{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
h1{
    font-size: 2em;
    padding-right: 160px;
}
.cad{
    padding-left: 8px;
    border-radius: 10px;
    height: 40px; ;
    width: 350px;
}
.cad::placeholder{
    color: #66BFD1 ;
}
.cad_button{
    cursor: pointer;
    color: white;
    background-color: blue;
}
input.cad{
    color:#66BFD1;
}
#box_cadastro{
    position: absolute;
    bottom: 1px;
    z-index: 1;
    animation: aparece 1.5s;
}
.Error_msg{
    display: flex;
    justify-content: center;
    color: rgb(255, 0, 0);
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: #000000;
}
.Error_msg p{
    font-size: 1.5rem;
}
@keyframes aparece {
    0%{opacity: 0; bottom: 600px;}
    80%{bottom: -25px;}
    100%{opacity: 1; }
}