@media screen and (min-width: 2300px){
    #box_cadastro {
        position: absolute;
        height: 120%;
        width: 50%;
        animation: aparece 1.5s;
        top: -50%;
    }

    #box_cadastro form {
        display: flex;
        justify-content: center;
        height: 100%;
        width: 100%;
    }

    .field_cad {
        height: 100%;
        width: 100%;
        border-radius: 20px;
        background-color: #66BFD1;
        color: white;
        display: flex;
        flex-direction: column;
        position: absolute;
        animation: aparece 1.5s;
    }

    #infos {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 6.5%;
        align-items: center;
        justify-content: center;
    }

    h1 {
        font-size: 1.5em;
        padding-right: 40%;
        padding-left: 5%;

    }

    .field_cad .titleCad {
        display: flex;
        align-items: center;
        height: 10%;
        margin-top: 5%;
        background-color: #85B2B7;
        justify-content: space-between;
    }

    .field_cad .titleCad p {
        margin-right: 5%;
        cursor: pointer;
    }

    .cad {
        padding-left: 3%;
        border-radius: 10px;
        height: 10%;
        width: 80%;
    }

    .cad::placeholder {
        color: #66BFD1;
    }

    .cad_button {
        border-radius: 15px;
        cursor: pointer;
        color: white;
        background-color: blue;
        height: 10%;
        width: 20%;
    }

    input.cad {
        color: #66BFD1;
    }

    .Error_msg {
        display: flex;
        justify-content: center;
        color: rgb(255, 0, 0);
        -webkit-text-stroke-width: .5px;
        -webkit-text-stroke-color: #000000;
    }

    .Error_msg p {
        font-size: 1.5rem;
    }


    @keyframes aparece {
        0% {
            opacity: 0;
            bottom: 200%;
        }

        80% {
            bottom: 0;
        }

        100% {
            opacity: 1;
        }
    }
}

/*? pcs*/
@media screen and (min-width: 1280px) and (max-width: 2300px){
    #box_cadastro {
        position: absolute;
        height: 120%;
        width: 50%;
        animation: aparece 1.5s;
        top: -50%;
    }

    #box_cadastro form {
        display: flex;
        justify-content: center;
        height: 100%;
        width: 100%;
    }

    .field_cad {
        height: 100%;
        width: 100%;
        border-radius: 20px;
        background-color: #66BFD1;
        color: white;
        display: flex;
        flex-direction: column;
        position: absolute;
        animation: aparece 1.5s;
    }

    #infos {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 6.5%;
        align-items: center;
        justify-content: center;
    }

    h1 {
        font-size: 1.5em;
        padding-right: 40%;
        padding-left: 5%;

    }

    .field_cad .titleCad {
        display: flex;
        align-items: center;
        height: 10%;
        margin-top: 5%;
        background-color: #85B2B7;
        justify-content: space-between;
    }

    .field_cad .titleCad p {
        margin-right: 5%;
        cursor: pointer;
    }

    .cad {
        padding-left: 3%;
        border-radius: 10px;
        height: 10%;
        width: 80%;
    }

    .cad::placeholder {
        color: #66BFD1;
    }

    .cad_button {
        border-radius: 15px;
        cursor: pointer;
        color: white;
        background-color: blue;
        height: 10%;
        width: 20%;
    }

    input.cad {
        color: #66BFD1;
    }

    .Error_msg {
        display: flex;
        justify-content: center;
        color: rgb(255, 0, 0);
        -webkit-text-stroke-width: .5px;
        -webkit-text-stroke-color: #000000;
    }

    .Error_msg p {
        font-size: 1.5rem;
    }


    @keyframes aparece {
        0% {
            opacity: 0;
            bottom: 200%;
        }

        80% {
            bottom: 0;
        }

        100% {
            opacity: 1;
        }
    }

}

/*? notebooks*/
@media screen and (min-width: 1024px) and (max-width: 1279px){
    #box_cadastro {
        position: absolute;
        height: 120%;
        width: 50%;
        animation: aparece 1.5s;
        top: -50%;
    }

    #box_cadastro form {
        display: flex;
        justify-content: center;
        height: 100%;
        width: 100%;
    }

    .field_cad {
        height: 100%;
        width: 100%;
        border-radius: 20px;
        background-color: #66BFD1;
        color: white;
        display: flex;
        flex-direction: column;
        position: absolute;
        animation: aparece 1.5s;
    }

    #infos {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 6.5%;
        align-items: center;
        justify-content: center;
    }

    h1 {
        font-size: 1.5em;
        padding-right: 40%;
        padding-left: 5%;

    }

    .field_cad .titleCad {
        display: flex;
        align-items: center;
        height: 10%;
        margin-top: 5%;
        background-color: #85B2B7;
        justify-content: space-between;
    }

    .field_cad .titleCad p {
        margin-right: 5%;
        cursor: pointer;
    }

    .cad {
        padding-left: 3%;
        border-radius: 10px;
        height: 10%;
        width: 80%;
    }

    .cad::placeholder {
        color: #66BFD1;
    }

    .cad_button {
        border-radius: 15px;
        cursor: pointer;
        color: white;
        background-color: blue;
        height: 10%;
        width: 20%;
    }

    input.cad {
        color: #66BFD1;
    }

    .Error_msg {
        display: flex;
        justify-content: center;
        color: rgb(255, 0, 0);
        -webkit-text-stroke-width: .5px;
        -webkit-text-stroke-color: #000000;
    }

    .Error_msg p {
        font-size: 1.5rem;
    }


    @keyframes aparece {
        0% {
            opacity: 0;
            bottom: 200%;
        }

        80% {
            bottom: 0;
        }

        100% {
            opacity: 1;
        }
    }

}

/*? telas tablet*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
    #box_cadastro {
        position: absolute;
        height: 100%;
        width: 100%;
        animation: aparece 1.5s;
    }

    #box_cadastro form {
        display: flex;
        justify-content: center;
        height: 100%;
        width: 100%;
    }

    .field_cad {
        height: 100%;
        width: 100%;
        background-color: #66BFD1;
        color: white;
        display: flex;
        flex-direction: column;
        position: absolute;
        animation: aparece 1.5s;

    }

    .field_cad .titleCad {
        display: flex;
        align-items: center;
        height: 10%;
        margin-top: 5%;
        background-color: #85B2B7;
        justify-content: space-between;
    }

    .field_cad .titleCad p {
        margin-right: 5%;
        cursor: pointer;
    }

    #infos {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 6.5%;
        align-items: center;
        justify-content: center;
    }

    h1 {
        font-size: 1.5em;
        padding-right: 40%;
        padding-left: 5%;

    }

    .cad {
        padding-left: 3%;
        border-radius: 10px;
        height: 10%;
        width: 80%;
    }

    .cad::placeholder {
        color: #66BFD1;
    }

    .cad_button {
        cursor: pointer;
        color: white;
        background-color: blue;
        height: calc(5vh + 20px);
        width: calc(20vw + 40px);

    }

    input.cad {
        color: #66BFD1;
    }

    .Error_msg {
        display: flex;
        justify-content: center;
        color: rgb(255, 0, 0);
        -webkit-text-stroke-width: .5px;
        -webkit-text-stroke-color: #000000;
    }

    .Error_msg p {
        font-size: 1.5rem;
    }

    @keyframes aparece {
        0% {
            opacity: 0;
            bottom: 200%;
        }

        80% {
            bottom: -5%;
        }

        100% {
            opacity: 1;
        }
    }

}

/*? telas mobile hotizontal*/
@media screen and ((max-height: 767px) and (max-width: 999px)){
    #box_cadastro {
        position: absolute;
        height: 100%;
        width: 100%;
    }

    #box_cadastro form {
        display: flex;
        justify-content: center;
        height: 100%;
        width: 100%;
    }

    .field_cad {
        height: 120%;
        width: 100%;
        background-color: #66BFD1;
        color: white;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: -20px;

    }

    .field_cad .titleCad {
        display: flex;
        align-items: center;
        height: 10%;
        margin-top: 5%;
        background-color: #85B2B7;
        justify-content: space-between;
    }

    .field_cad .titleCad p {
        margin-right: 5%;
        cursor: pointer;
    }

    #infos {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 6.5%;
        align-items: center;
        justify-content: center;
    }

    h1 {
        font-size: 1.5em;
        padding-right: 40%;
        padding-left: 5%;

    }

    .cad {
        padding-left: 3%;
        border-radius: 10px;
        height: 30%;
        width: 70%;
    }

    .cad::placeholder {
        color: #66BFD1;
    }

    .cad_button {
        cursor: pointer;
        color: white;
        background-color: blue;
        height: calc(5vh + 60px);
        width: calc(20vw + 40px);

    }

    input.cad {
        color: #66BFD1;
    }

    .Error_msg {
        display: flex;
        justify-content: center;
        color: rgb(255, 0, 0);
        -webkit-text-stroke-width: .5px;
        -webkit-text-stroke-color: #000000;
    }

    .Error_msg p {
        font-size: 1.5rem;
    }

}
/*? telas mobile*/
@media screen and (min-width: 360px) and (max-width: 767px){
    #box_cadastro {
        position: absolute;
        height: 110%;
        width: 100%;
        animation: aparece 1.5s;
    }

    #box_cadastro form {
        display: flex;
        justify-content: center;
        height: 100%;
        width: 100%;
    }

    .field_cad {
        height: 100%;
        width: 100%;
        background-color: #66BFD1;
        color: white;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: -10%;
        animation: aparece 1.5s;

    }

    .field_cad .titleCad {
        display: flex;
        align-items: center;
        height: 10%;
        margin-top: 5%;
        background-color: #85B2B7;
        justify-content: space-between;
    }

    .field_cad .titleCad p {
        margin-right: 5%;
        cursor: pointer;
    }

    #infos {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 6.5%;
        align-items: center;
        justify-content: center;
    }

    h1 {
        font-size: 1.5em;
        padding-right: 40%;
        padding-left: 5%;

    }

    .cad {
        padding-left: 3%;
        border-radius: 10px;
        height: 10%;
        width: 80%;
    }

    .cad::placeholder {
        color: #66BFD1;
    }

    .cad_button {
        cursor: pointer;
        color: white;
        background-color: blue;
        height: calc(5vh + 20px);
        width: calc(20vw + 40px);

    }

    input.cad {
        color: #66BFD1;
    }

    .Error_msg {
        display: flex;
        justify-content: center;
        color: rgb(255, 0, 0);
        -webkit-text-stroke-width: .5px;
        -webkit-text-stroke-color: #000000;
    }

    .Error_msg p {
        font-size: 1.5rem;
    }

    @keyframes aparece {
        0% {
            opacity: 0;
            bottom: 200%;
        }

        80% {
            bottom: -10%;
        }

        100% {
            opacity: 1;
        }
    }


}